<app-nav-bar></app-nav-bar>
<p>{{role}}</p>
<div class="card-deck firstRow">
    <div class="card myCard">
        <div class="card-body">
            <div class="rates mainFirstBlock">
                <div>
                    <table class="table table-light mainTable">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Code</th>
                                <th scope="col">Rates</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rate of rates">
                                <td>{{rate.date}}</td>
                                <td>{{rate.code}}</td>
                                <td>{{rate.rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-secondary" (click)="onUpdateCurrencyRrates()"
                    *ngIf="role == 'ADMIN'">Update rates</button>
            </div>
        </div>
    </div>
    <div class="card myCard">
        <div class="card-body">
            <div class="rates mainFirstBlock">
                <div>
                    <table class="table table-light mainTable">
                        <thead>
                            <tr>
                                <th scope="col">Account Number</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Currency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let balance of balances">
                                <td>{{balance.accountNumber}}</td>
                                <td>{{balance.amount}}</td>
                                <td>{{balance.currencyCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <label for="">Total Amount, EUR: {{totalAmount}}</label>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="onAddNew()" >Add New</button>
            </div>
        </div>
    </div>
</div>