<app-nav-bar></app-nav-bar>
<div class="container">
    <table class="table table-light loanTable">
        <thead>
            <tr>
                <th scope="col">Sign Date</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Duration</th>
                <th scope="col">Amount</th>
                <th scope="col">Currency</th>
                <th scope="col">Percentage</th>
                <th scope="col">Schedule</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loan of loans">
                <td>{{loan.signDate}}</td>
                <td>{{loan.type}}</td>
                <td>{{loan.status}}</td>
                <td>{{loan.monthToReturn}}</td>
                <td>{{loan.amount}}</td>
                <td>{{loan.currencyCode}}</td>
                <td>{{loan.percentage}}</td>
                <td><button (click)="onPrinterClick(loan.id)" mat-raised-button color="primary">PDF</button></td>
                <td><button (click)="onEdit(loan.id)" mat-raised-button color="primary">Edit</button></td>


                
            </tr>
        </tbody>
    </table>
</div>