<div class="container registerCard">
    <div class="labelRegistration">
        <label for=""> Sign in</label>
    </div>
    <div class="registrationForm">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" name="username" id="username" [(ngModel)] = "customer.username" class="form-control"  aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" id = "password" [(ngModel)] = "customer.password" class="form-control" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" name="email" id = "email" [(ngModel)] = "customer.email" class="form-control" placeholder="Enter Email">
              </div>
            <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input type="password" name="firstName" id = "firstName" [(ngModel)] = "customer.firstName" class="form-control"  placeholder="Enter First Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="password" name="lastName" id = "LastName" [(ngModel)] = "customer.lastName" class="form-control"  placeholder="Enter Last Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Identity Number</label>
                <input type="password" name="identityNumber" id = "identityNumber" [(ngModel)] = "customer.identityNumber" class="form-control"  placeholder="Enter Identity Number">
              </div>
            <button type="submit" (click)="onSubmit()" id="registerButton" class="btn btn-primary">Register</button>
          </form>
    </div>
</div>
